<header>
      <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre</font></font></h4>
              <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adicione algumas informações sobre o álbum abaixo, o autor ou qualquer outro contexto em segundo plano. </font><font style="vertical-align: inherit;">Faça algumas frases para que as pessoas possam pegar alguns petiscos informativos. </font><font style="vertical-align: inherit;">Em seguida, vincule-os a alguns sites de redes sociais ou informações de contato.</font></font></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contato</font></font></h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Siga no Twitter</font></font></a></li>
                <li><a href="#" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Curtir no Facebook</font></font></a></li>
                <li><a href="#" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me mande um e-mail</font></font></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Álbum</font></font></strong>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>