<div wm-include="/pages/galery/galeryHeader.html"></div>
<div class="container mt-5">

<!-- butons -->
	<div class="row justify-content-center pb-5">
		<div wm-city-buttons>	</div>
	</div>
	
<div class="row d-flex justify-content-center">
		
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/ny1.png" class="img-fluid mb-4" wm-city="New York" wm-city="New York">
			
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/ny2.png" class="img-fluid mb-4" wm-city="New York">
	
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/floripa1.png" class="img-fluid mb-4" wm-city="Florianópolis">
			
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/ny3.png" class="img-fluid mb-4" wm-city="New York" >
			
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/rj1.png" class="img-fluid mb-4" wm-city="Rio de Janeiro" >
		
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/ny4.png" class="img-fluid mb-4" wm-city="New York">
		
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/ny2.png" class="img-fluid mb-4" wm-city="New York">
	
	</div>
		<div class="col-12 col-md-6 col-lg-3">
		<img src="/imgs/ny4.png" class="img-fluid mb-4" wm-city="New York">
		
	</div>
	</div>	
</div>